@font-face {
  font-family:"Lobster";
  src:url("fonts/Lobster.woff") format("woff");
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family: 'segoeui';
  src:url('fonts/segoeui.eot');
  src:url('fonts/segoeui.eot') format('embedded-opentype'),
    url('fonts/segoeui.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'seguisb';
  src:url('fonts/seguisb.eot');
  src:url('fonts/seguisb.eot') format('embedded-opentype'),
    url('fonts/seguisb.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
