/* USAGE **********************************
@include keyframes(slide-down) {
0% { opacity: 1; }
90% { opacity: 0; }
}

.element {
width: 100px;
height: 100px;
background: black;
@include animation('slide-down 5s 3');
}
*******************************************/
@font-face {
  font-family: "Lobster";
  src: url("../font/Lobster.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'segoeui';
  src: url("../font/segoeui.eot");
  src: url("../font/segoeui.eot") format("embedded-opentype"), url("../font/segoeui.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'seguisb';
  src: url("../font/seguisb.eot");
  src: url("../font/seguisb.eot") format("embedded-opentype"), url("../font/seguisb.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* line 5, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@media all and (orientation: landscape){
  .modalCorrect{
  position: fixed;
  top: 30%;
  left: 30%;
  }
}
@media all and (orientation: portrait){
  .modalCorrect{
  position: fixed;
  top: 30%;
  left: 10%;
  }
}

@media screen {
  /* line 3, ../scss/medium/components/_screens.scss */
  header .brand.only .logo {
    width: 230px;
  }

  /* line 10, ../scss/medium/components/_screens.scss */
  .ui-collapsible-inset .ui-btn-up-c,
  .ui-collapsible-inset .ui-btn-hover-c {
    background-image: none;
    background: #fff;
    border: 0;
    text-shadow: none;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
  }
  /* line 20, ../scss/medium/components/_screens.scss */
  .ui-collapsible-inset .ui-btn-text .ui-link {
    color: #577c96;
    font-family: 'seguisb';
  }
  /* line 24, ../scss/medium/components/_screens.scss */
  .ui-collapsible-inset .ui-btn-text .ui-link:hover, .ui-collapsible-inset .ui-btn-text .ui-link:active {
    color: #5f86a2;
  }
  /* line 31, ../scss/medium/components/_screens.scss */
  .ui-collapsible-inset .ui-icon {
    background-color: rgba(87, 124, 150, 0.4);
  }

  /* line 36, ../scss/medium/components/_screens.scss */
  .ui-collapsible-inset .ui-collapsible-content {
    background: #fff;
    border: 0;
    margin-top: 5px;
    padding: 35px 30px 25px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
  }

  /* line 46, ../scss/medium/components/_screens.scss */
  .ui-collapsible-content .table colgroup .col1 {
    width: 25%;
  }
  /* line 50, ../scss/medium/components/_screens.scss */
  .ui-collapsible-content .table {
    border: 0;
  }

  /* line 55, ../scss/medium/components/_screens.scss */
  .content-box {
    background: #fff;
    margin: 0 0 15px;
    min-height: 340px;
    padding: 35px 30px 25px;
    position: relative;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }
  /* line 63, ../scss/medium/components/_screens.scss */
  .content-box h2 {
    color: #fe8953;
    font: 27px/27px "segoeui";
    margin: 0 0 10px;
  }
  /* line 68, ../scss/medium/components/_screens.scss */
  .content-box h2.title-end {
    margin: 0 0 20px;
  }
  /* line 73, ../scss/medium/components/_screens.scss */
  .content-box .subtitle {
    color: #577c96;
    font: 15px/22px "segoeui";
    margin: 0 0 10px;
  }
  /* line 78, ../scss/medium/components/_screens.scss */
  .content-box .subtitle a {
    color: #6a88a0;
    font-family: 'seguisb';
  }
  .content-box .subtitle a i{
    color: #6a88a0;
  }
  /* line 82, ../scss/medium/components/_screens.scss */
  .content-box .subtitle a:hover, .content-box .subtitle a:active {
    color: #7693ab;
  }
  /* line 89, ../scss/medium/components/_screens.scss */
  .content-box .btn-audio {
    text-align: center;
    margin-left: 38%;
    width: 109px;
    position: absolute;
    border: white solid 1px;
    border-radius: 4px;
    z-index: 1;
  }
  .btn-audio-2{
    margin-top: 15%;
  }
  .btn-audio-4{
    margin-top: 33%;
  }
  /* line 94, ../scss/medium/components/_screens.scss */
  .content-box .btn-audio a {
    color: #fff;
    font-size: 15px;
    padding: 10px 15px;
  }
  /* line 100, ../scss/medium/components/_screens.scss */
  .content-box .btn-audio a:hover, .content-box .btn-audio a:active {
    color: #fff !important;
  }
  /* line 107, ../scss/medium/components/_screens.scss */
  .content-box .see-more {
    color: #577c96;
    position: absolute;
    top: 35px;
    right: 30px;
  }
  /* line 113, ../scss/medium/components/_screens.scss */
  .content-box .see-more a {
    color: #577c96;
    font: 18px/18px "segoeui";
  }
  /* line 119, ../scss/medium/components/_screens.scss */
  .content-box .content-levels {
    padding: 25px 0 0;
    border-top: solid 1px #f7f7f7;
  }
  /* line 123, ../scss/medium/components/_screens.scss */
  .content-box .content-levels .levels {
    margin: 20px 0 0;
    *zoom: 1;
  }
  /* line 96, ../scss/_mixins.scss */
  .content-box .content-levels .levels:before, .content-box .content-levels .levels:after {
    content: " ";
    display: table;
  }
  /* line 102, ../scss/_mixins.scss */
  .content-box .content-levels .levels:after {
    clear: both;
  }
  /* line 127, ../scss/medium/components/_screens.scss */
  .content-box .content-levels .levels:first-child {
    margin: 0;
  }
  /* line 131, ../scss/medium/components/_screens.scss */
  .content-box .content-levels .levels .word {
    float: left;
    min-width: 290px;
    margin-right: 25px;
    margin-bottom: 10px;
  }
  /* line 137, ../scss/medium/components/_screens.scss */
  .content-box .content-levels .levels .word h3 {
    font: 24px/24px "segoeui";
    margin: 0 0 10px;
  }
  /* line 142, ../scss/medium/components/_screens.scss */
  .content-box .content-levels .levels .word p {
    font: 14px/14px "segoeui";
  }
  /* line 147, ../scss/medium/components/_screens.scss */
  .content-box .content-levels .levels ul {
    float: left;
    margin-left: -10px;
    width: 485px;
  }
  /* line 152, ../scss/medium/components/_screens.scss */
  .content-box .content-levels .levels ul li {
    display: inline-block;
    margin: 0 0 10px 10px;
  }
  /* line 161, ../scss/medium/components/_screens.scss */
  .content-box .choose-images {
    background: #8A9EAB;
    padding-left: 10px;
    padding-bottom: 10px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    *zoom: 1;
    *zoom: 1;
    width: auto;
    margin-right: -10px;
    margin: 10px 0 10px;
  }
  /* line 96, ../scss/_mixins.scss */
  .content-box .choose-images:before, .content-box .choose-images:after {
    content: " ";
    display: table;
  }
  /* line 102, ../scss/_mixins.scss */
  .content-box .choose-images:after {
    clear: both;
  }
  /* line 96, ../scss/_mixins.scss */
  .content-box .choose-images:before, .content-box .choose-images:after {
    content: " ";
    display: table;
  }
  /* line 102, ../scss/_mixins.scss */
  .content-box .choose-images:after {
    clear: both;
  }
  /* line 126, ../scss/_mixins.scss */
  .content-box .choose-images .item {
    padding-right: 5px;
    padding-left: 5px;
    background-clip: content-box;
  }
  #imagenes_juego_0{
    float: left;
    width: 50%;
  }
  #imagenes_juego_1{
    float: right;
    width: 50%;
  }
  /* line 170, ../scss/medium/components/_screens.scss */
  .content-box .choose-images .content-image {
    border: solid 2px #E7E7E7;
    background: #fdfdfd;
    height: 260px;
    overflow: hidden;
    margin-top: 10px;
    text-align: center;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
  }
  /* line 180, ../scss/medium/components/_screens.scss */
  .content-box .choose-images .audio {
    background: #ff7841;
  }
  /* line 183, ../scss/medium/components/_screens.scss */
  .content-box .choose-images .audio a {
    color: #fff;
    display: block;
    font: 23px/23px "segoeui";
    padding: 40px 25px;
    text-align: center;
    height: 179px;
    width: 130px;
  }
  /* line 192, ../scss/medium/components/_screens.scss */
  .content-box .choose-images .audio a .icon-audio {
    position: relative;
    top: inherit;
    display: block;
    font-size: 50px;
    margin-top: 10px;
  }

  .modalCorrect{
    z-index: 10;
  }
  /* line 204, ../scss/medium/components/_screens.scss */
  .content-modal {
    background: #fff;
    padding: 40px;
    width: 473px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: #AAAAAA solid 1px;
  }
  /* line 96, ../scss/_mixins.scss */
  .content-modal .modal-option-result:before, .content-modal .modal-option-result:after {
    content: " ";
    display: table;
  }
  /* line 102, ../scss/_mixins.scss */
  .content-modal .modal-option-result:after {
    clear: both;
  }
  /* line 216, ../scss/medium/components/_screens.scss */
  .content-modal .modal-option-result img,
  .content-modal .modal-option-result .result {
    float: left;
  }
  /* line 221, ../scss/medium/components/_screens.scss */
  .content-modal .modal-option-result img {
    margin-right: 25px;
  }
  /* line 225, ../scss/medium/components/_screens.scss */
  .content-modal .modal-option-result .result {
    padding: 10px 0 0;
  }
  /* line 228, ../scss/medium/components/_screens.scss */
  .content-modal .modal-option-result .result p {
    color: #46b39c;
    font: 25px/25px "segoeui";
    margin: 0 0 15px;
  }
  /* line 233, ../scss/medium/components/_screens.scss */
  .content-modal .modal-option-result .result span {
    color: #787878;
    font: 40px/40px "segoeui";
  }
  /* line 242, ../scss/medium/components/_screens.scss */
  .content-modal .pager li {
    display: inline;
    *zoom: 1;
  }
  /* line 96, ../scss/_mixins.scss */
  .content-modal .pager li:before, .content-modal .pager li:after {
    content: " ";
    display: table;
  }
  /* line 102, ../scss/_mixins.scss */
  .content-modal .pager li:after {
    clear: both;
  }
  /* line 248, ../scss/medium/components/_screens.scss */
  .content-modal .pager li.next a {
    float: right;
  }
  /* line 253, ../scss/medium/components/_screens.scss */
  .content-modal .pager li a {
    color: #637987;
    font: 16px/16px "segoeui";
  }

  /* line 261, ../scss/medium/components/_screens.scss */
  .table {
    border-top: solid 1px #f7f7f7;
    width: 100%;
  }
  /* line 267, ../scss/medium/components/_screens.scss */
  .table colgroup .col1 {
    width: 5%;
  }
  /* line 270, ../scss/medium/components/_screens.scss */
  .table colgroup .col2 {
    width: 28%;
  }
  /* line 273, ../scss/medium/components/_screens.scss */
  .table colgroup .col3 {
    width: 70%;
  }
  /* line 280, ../scss/medium/components/_screens.scss */
  .table tr td {
    color: #6c6c6c;
    padding: 20px;
    font: 23px/23px "segoeui";
  }
  /* line 285, ../scss/medium/components/_screens.scss */
  .table tr td:first-child {
    padding: 14px 0 20px;
  }
  /* line 289, ../scss/medium/components/_screens.scss */
  .table tr td.right {
    color: #46b39c;
    font: 23px/23px "segoeui";
  }
  /* line 294, ../scss/medium/components/_screens.scss */
  .table tr td.wrong {
    color: #df5c4a;
    font: 23px/23px "segoeui";
  }
  /* line 299, ../scss/medium/components/_screens.scss */
  .table tr td.result {
    color: #5f798a;
    font: 23px/23px "segoeui";
  }
  /* line 305, ../scss/medium/components/_screens.scss */
  .table tr.total {
    border-top: solid 1px #f7f7f7;
  }
  /* line 310, ../scss/medium/components/_screens.scss */
  .table tr:first-child td {
    padding-top: 30px;
  }

  /* line 317, ../scss/medium/components/_screens.scss */
  .end-detail {
    border-top: solid 1px #f7f7f7;
  }
  /* line 320, ../scss/medium/components/_screens.scss */
  .end-detail li {
    *zoom: 1;
    color: #6f6f6f;
    font: 25px/25px "segoeui";
    margin: 15px 0 0;
    max-width: 410px;
  }
  /* line 96, ../scss/_mixins.scss */
  .end-detail li:before, .end-detail li:after {
    content: " ";
    display: table;
  }
  /* line 102, ../scss/_mixins.scss */
  .end-detail li:after {
    clear: both;
  }
  /* line 329, ../scss/medium/components/_screens.scss */
  .end-detail li:first-child span {
    float: none;
  }
  /* line 334, ../scss/medium/components/_screens.scss */
  .end-detail li b {
    font-family: 'seguisb';
  }
  /* line 338, ../scss/medium/components/_screens.scss */
  .end-detail li span {
    float: right;
  }
  /* line 341, ../scss/medium/components/_screens.scss */
  .end-detail li span.result {
    color: #ff8853;
    font: 30px/30px "segoeui";
  }
  /* line 346, ../scss/medium/components/_screens.scss */
  .end-detail li span.distractor {
    color: #e05c47;
  }

  /* line 353, ../scss/medium/components/_screens.scss */
  .ui-widget-content {
    background: #fff;
    border: none;
  }
  /* line 357, ../scss/medium/components/_screens.scss */
  .ui-widget-content .ui-widget-header {
    border: none;
    background: #46b39c;
  }

  /* line 362, ../scss/medium/components/_screens.scss */
  .ui-progressbar .ui-progressbar-value {
    margin: 0;
  }

  /* line 1, ../scss/medium/components/_intro.scss */
  .header {
    background: #fff;
    display: table;
    min-height: 185px;
    margin: 0 0 70px;
    width: 100%;
  }

  /* line 9, ../scss/medium/components/_intro.scss */
  .brand {
    margin: 0 auto;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
  /* line 15, ../scss/medium/components/_intro.scss */
  .brand .logo {
    *zoom: 1;
    margin: 0 auto;
    width: 615px;
    padding-left: 20px;
  }
  /* line 96, ../scss/_mixins.scss */
  .brand .logo:before, .brand .logo:after {
    content: " ";
    display: table;
  }
  /* line 102, ../scss/_mixins.scss */
  .brand .logo:after {
    clear: both;
  }
  /* line 20, ../scss/medium/components/_intro.scss */
  .brand .logo img {
    float: left;
    margin-right: 30px;
  }
  /* line 25, ../scss/medium/components/_intro.scss */
  .brand .logo h1 {
    color: #6a899e;
    float: left;
    font: 53px/53px "Lobster";
    padding: 30px 0 0;
    text-align: left;
    width: 450px;
  }
  /* line 33, ../scss/medium/components/_intro.scss */
  .brand .logo h1 span {
    color: #404040;
    display: block;
    font: 24px/24px "segoeui";
    margin-top: 5px;
  }
  /* line 39, ../scss/medium/components/_intro.scss */
  .brand .logo h1 span.color-brand {
    color: #fe8a51;
    font: 53px/53px "Lobster";
    display: inline;
    margin: 0;
  }

  /* line 50, ../scss/medium/components/_intro.scss */
  .logo.navBar h1 {
    font: 30px/30px "Lobster";
    padding: 25px 0 0;
  }
  /* line 54, ../scss/medium/components/_intro.scss */
  .logo.navBar h1 .color-brand {
    font: 30px/30px "Lobster" !important;
  }

  /* line 60, ../scss/medium/components/_intro.scss */
  .choose-words {
    text-align: center;
  }

  /* line 64, ../scss/medium/components/_intro.scss */
  .menu {
    display: inline-block;
  }
  /* line 67, ../scss/medium/components/_intro.scss */
  .menu li {
    display: inline;
  }
  /* line 70, ../scss/medium/components/_intro.scss */
  .menu li:first-child {
    margin-right: 25px;
  }
  /* line 74, ../scss/medium/components/_intro.scss */
  .menu li.help {
    display: block;
  }

  /* line 6, ../scss/medium/_base.scss */
  html {
    box-sizing: border-box;
  }

  /* line 10, ../scss/medium/_base.scss */
  *, *:before, *:after {
    box-sizing: inherit;
  }

  /* line 14, ../scss/medium/_base.scss */
  body,
  .ui-body-c,
  .ui-overlay-c {
    background: #617888;
    text-shadow: none;
  }

  /* line 21, ../scss/medium/_base.scss */
  header {
    background: #fff;
    display: table;
    min-height: 75px;
    margin: 0 0 25px;
    width: 100%;
  }

  /* line 29, ../scss/medium/_base.scss */
  h1 {
    font: 25px/25px "segoeui";
    margin: 0 0 20px;
  }

  /* line 34, ../scss/medium/_base.scss */
  p {
    color: #6f6f6f;
    font: 16px/22px "Gotham book";
    margin: 0;
  }

  /* line 40, ../scss/medium/_base.scss */
  a {
    text-decoration: none;
  }
  /* line 43, ../scss/medium/_base.scss */
  a:hover, a:active {
    -moz-transition: background 0.3s ease;
    -o-transition: background 0.3s ease;
    -webkit-transition: background 0.3s ease;
    transition: background 0.3s ease;
  }

  /* line 49, ../scss/medium/_base.scss */
  img {
    max-width: 100%;
    height: auto;
  }

  /* line 54, ../scss/medium/_base.scss */
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  /* line 60, ../scss/medium/_base.scss */
  strong {
    font-family: "seguisb";
  }

  /* line 64, ../scss/medium/_base.scss */
  .container {
    max-width: 740px;
    margin: 0 auto;
  }
}
@media screen and (orientation: landscape) {
  /* line 64, ../scss/medium/_base.scss */
  .container {
    width: 860px;
  }
}

@media screen {
  /* line 71, ../scss/medium/_base.scss */
  .ui-content {
    padding: 0;
  }

  /* line 74, ../scss/medium/_base.scss */
  .ui-bar-a {
    border: 0;
  }

  /*--- buttons
  ---------------------------*/
  /* line 81, ../scss/medium/_base.scss */
  .ui-body-c .ui-link {
    display: inline-block;
  }
  /* line 84, ../scss/medium/_base.scss */
  .ui-body-c .ui-link:visited, .ui-body-c .ui-link:hover, .ui-body-c .ui-link:active {
    color: #e4e4eb;
  }

  /* line 92, ../scss/medium/_base.scss */
  .bt {
    color: #fff;
    display: inline-block;
    font: 23px/23px "segoeui";
    font-weight: normal;
    padding: 25px 55px;
    text-align: center;
    text-shadow: none;
    min-width: 200px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
  }
  /* line 103, ../scss/medium/_base.scss */
  .bt.bt-small {
    background: #ff7841;
    font: 16px/16px "segoeui";
    padding: 15px 20px;
    min-width: 107px;
  }
  /* line 109, ../scss/medium/_base.scss */
  .bt.bt-small:hover, .bt.bt-small:active {
    background: #fd8757;
    color: #fff;
  }
  /* line 115, ../scss/medium/_base.scss */
  .bt.bt-small.default {
    background: #e05b4a;
  }
  /* line 118, ../scss/medium/_base.scss */
  .bt.bt-small.default:hover, .bt.bt-small.default:active {
    background: #e96757;
    color: #fff;
  }
  /* line 126, ../scss/medium/_base.scss */
  .bt.principal-button {
    background: #ff9c41;
    margin-bottom: 20px;
  }
  /* line 129, ../scss/medium/_base.scss */
  .bt.principal-button:hover, .bt.principal-button:active {
    background: #ffa24c;
    color: #fff;
  }
  /* line 136, ../scss/medium/_base.scss */
  .bt.general-button {
    background: #fe8954;
  }
  /* line 139, ../scss/medium/_base.scss */
  .bt.general-button:hover, .bt.general-button:active {
    background: #fc8f5e;
    color: #fff;
  }

  /* line 146, ../scss/medium/_base.scss */
  .ui-body-c .ui-link {
    font-weight: normal;
    color: #fff;
    text-shadow: none;
  }
  /* line 151, ../scss/medium/_base.scss */
  .ui-body-c .ui-link:active, .ui-body-c .ui-link:visited, .ui-body-c .ui-link:hover {
    color: #fff;
  }
  /* line 159, ../scss/medium/_base.scss */
  .ui-body-c .ui-link.bt-small:hover, .ui-body-c .ui-link.bt-small:active, .ui-body-c .ui-link.bt-small.ui-body-c .ui-link, .ui-body-c .ui-link.bt-small.ui-body-c .ui-link {
    background: #fd8757;
    color: #fff;
  }
  /* line 169, ../scss/medium/_base.scss */
  .ui-body-c .ui-link.bt-small.default:hover, .ui-body-c .ui-link.bt-small.default:active, .ui-body-c .ui-link.bt-small.default.ui-body-c .ui-link, .ui-body-c .ui-link.bt-small.default.ui-body-c .ui-link {
    background: #e96757;
    color: #fff;
  }
  /* line 181, ../scss/medium/_base.scss */
  .ui-body-c .ui-link.principal-button:hover, .ui-body-c .ui-link.principal-button:active, .ui-body-c .ui-link.principal-button.ui-body-c .ui-link, .ui-body-c .ui-link.principal-button.ui-body-c .ui-link {
    background: #ffa24c;
    color: #fff;
  }
  /* line 192, ../scss/medium/_base.scss */
  .ui-body-c .ui-link.general-button:hover, .ui-body-c .ui-link.general-button:active, .ui-body-c .ui-link.general-button.ui-body-c .ui-link, .ui-body-c .ui-link.general-button.ui-body-c .ui-link {
    background: #fc8f5e;
    color: #fff;
  }
  /* line 200, ../scss/medium/_base.scss */
  .ui-body-c .ui-link.ui-body-c .ui-link, .ui-body-c .ui-link.ui-body-c .ui-link {
    color: #fff;
    padding: 0;
  }

  /* line 206, ../scss/medium/_base.scss */
  .help {
    margin: 0 0 20px;
    display: block;
    text-align: right;
  }
  /* line 211, ../scss/medium/_base.scss */
  .help a,
  .help .ui-body-c,
  .help .ui-link {
    color: #fff;
    font: 16px/16px "segoeui";
    text-decoration: none;
    padding: 0;
  }
  /* line 219, ../scss/medium/_base.scss */
  .help a:hover, .help a:active,
  .help .ui-body-c:hover,
  .help .ui-body-c:active,
  .help .ui-link:hover,
  .help .ui-link:active {
    color: #e4e4eb;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
  }
  /* line 226, ../scss/medium/_base.scss */
  .help .help.results.ui-link {
    float: left;
    background: #46b39c;
    display: inline-block;
    margin: 0;
    padding: 10px 25px;
    font-size: 12px;
    position: relative;
    top: -5px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
  }
  /* line 237, ../scss/medium/_base.scss */
  .help .help.results.ui-link:hover, .help .help.results.ui-link:active {
    background: #49b9a1;
  }

  /* line 244, ../scss/medium/_base.scss */
  li.help {
    *zoom: 1;
    margin: 10px 0 20px;
  }
  /* line 96, ../scss/_mixins.scss */
  li.help:before, li.help:after {
    content: " ";
    display: table;
  }
  /* line 102, ../scss/_mixins.scss */
  li.help:after {
    clear: both;
  }
  /* line 248, ../scss/medium/_base.scss */
  li.help a,
  li.help .ui-body-c,
  li.help .ui-link {
    font: 16px/16px "segoeui";
    padding: 0;
  }

  /*--- Icons
  ---------------------------*/
  /* line 259, ../scss/medium/_base.scss */
  .icon-help {
    font-size: 25px;
    margin-left: 10px;
  }

  /* line 263, ../scss/medium/_base.scss */
  p .icon-help {
    font-size: 22px;
    margin-left: 5px;
  }

  /* line 267, ../scss/medium/_base.scss */
  .icon-back {
    font-size: 22px;
    margin-right: 5px;
    position: relative;
    top: 3px;
  }

  /* line 273, ../scss/medium/_base.scss */
  .icon-next {
    font-size: 22px;
    margin-left: 5px;
    position: relative;
    top: 3px;
  }

  /* line 279, ../scss/medium/_base.scss */
  .icon-video {
    font-size: 22px;
    margin-right: 5px;
    position: relative;
    top: 2px;
  }

  /* line 285, ../scss/medium/_base.scss */
  .icon-audio {
    font-size: 22px;
    margin-right: 5px;
    position: relative;
    top: 2px;
  }

  /* line 291, ../scss/medium/_base.scss */
  .icon-less {
    font-size: 22px;
    margin-right: 5px;
    position: relative;
    top: 2px;
  }

  /* line 297, ../scss/medium/_base.scss */
  .icon-more {
    font-size: 22px;
    margin-right: 5px;
    position: relative;
    top: 2px;
  }

  /*--- breadcrumbs
  ---------------------------*/
  /* line 306, ../scss/medium/_base.scss */
  .breadcrumb {
    margin: 0 0 25px;
  }
  /* line 310, ../scss/medium/_base.scss */
  .breadcrumb li a {
    color: #fff;
    font: 16px/22px "segoeui";
    text-decoration: none;
  }
  /* line 315, ../scss/medium/_base.scss */
  .breadcrumb li a:hover, .breadcrumb li a:active {
    color: #e4e4eb;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
  }
}
