// Breakpoints
$medium-breakpoint: 768px;
$large-breakpoint: 1024px;

// fonts
$font-color-menu: #137abf;
$font-color: #4c4c4c;
$title-color: #fe8953;

//buttons
$principal-bt: #ff9c41;
$principal-bt-ligth: #ffa24c;
$general-bt: #fe8954;
$general-bt-ligth: #fc8f5e;
$bt-small: #ff7841;
$bt-small-light: #fd8757;
$bt-small-default: #e05b4a;
$bt-small-default-light: #e96757;
$bt-color: #fff;

//colors
$bg-color: #617888;
$color-brand: #fe8a51;